.sectionHeader {
  text-align: center;
  background-color: #90caf9;
  padding: 15px;
  margin: 10px 0 10px 0;
}

.datePick{
  cursor: pointer;
}

.rightMargin {
  margin-right: 15px;
}

.appointmentSearch {
  margin: 5px 0 15px 0;
}

